## Intro to Python List Comprehensions

In [1]:
import pandas as pd
import numpy as np

General python list comprehension syntax:

```new_list = [ i for i in old_list if some_condition ]```

"i" variable is chosen arbitrarily; the following is equivalent:

```new_list = [j for j in old_list if some_condition]```

Can have many conditions:

```new_list = [i for i in old_list if some_condition1 if some_condition_2]```

### Basic Examples

In [28]:
#Get even integers from 0 to 10
list1 = [i for i in pd.Series(range(0,11)) if i % 2 == 0]
print(list1)
#Get even integers from 0 to 10 that are greater than 5:
list2 = [a for a in pd.Series(range(0,11)) if a % 2 ==0 if a > 5]
print(list2)

[0, 2, 4, 6, 8, 10]
[6, 8, 10]

### DataFrame Examples:

In [2]:
data_path = "/home/matia_alexander/data/home-credit-default-risk/"
application_train = pd.read_csv(data_path + "application_train.csv")

In [7]:
#Get all column names as a list:
my_cols = [i for i in application_train.columns]
#just output the first few
my_cols[0:9]

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT']

In [8]:
#Get all column names, except one we don't want
my_cols = [i for i in application_train.columns if i != "SK_ID_CURR"]
my_cols[0:9]

['TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY']

In [12]:
#Get all column names, except a few that we don't want:
my_cols = [i for i in application_train.columns if i not in ["SK_ID_CURR", "TARGET", "NAME_CONTRACT_TYPE"]]
my_cols[0:9]

['CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE']

In [33]:
#Get all columns that contain the word "TYPE"

my_type_cols = [i for i in application_train.columns if "TYPE" in i]
my_type_cols

['NAME_CONTRACT_TYPE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'ORGANIZATION_TYPE',
 'HOUSETYPE_MODE']

In [34]:
#use list comprehension to actually grab columns from a pandas object:
application_train_sub = application_train[my_type_cols]
application_train_sub.head()

,NAME_CONTRACT_TYPE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_HOUSING_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE,HOUSETYPE_MODE
0,Cash loans,Unaccompanied,Working,Secondary / secondary special,House / apartment,Laborers,Business Entity Type 3,block of flats
1,Cash loans,Family,State servant,Higher education,House / apartment,Core staff,School,block of flats
2,Revolving loans,Unaccompanied,Working,Secondary / secondary special,House / apartment,Laborers,Government,NaN
3,Cash loans,Unaccompanied,Working,Secondary / secondary special,House / apartment,Laborers,Business Entity Type 3,NaN
4,Cash loans,Unaccompanied,Working,Secondary / secondary special,House / apartment,Core staff,Religion,NaN